@model  DevelopersChallenge2.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-offset-4 col-md-8">
                Arquivo de conciliação bancária (*.ofx)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <input type="file" name="ofxFile" class="form-control" />
            </div>
            <div class="col-md-1">
                <input type="submit" value="Enviar" class="btn btn-primary btn-md" />
            </div>
            <div class="col-md-3"></div>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            if (Model.Error.Value)
            {
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="fechar">&times;</a>
                    <strong>Erro</strong> @Model.Message
                </div>
            }
            else
            {
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="fechar">&times;</a>
                    <strong>Sucesso</strong> @Model.Message
                </div>
            }
        }
        <h2>Transações</h2>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="white-space:nowrap">
                        Data
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th class="text-center">
                        Tipo
                    </th>
                    <th class="text-right">
                        Valor
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DatagridData)
                {
                    <tr>
                        <td>@item.TransactionDate.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@item.Description</td>
                        <td class="text-center">@item.TransactionType.ToString()[0]</td>
                        <td class="text-right">@Html.Raw(item.Value)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>